<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UIUXSuite">
    <test name="QATests">
        <classes>
            <class name="NumberOfImagesAndButtons">
                <methods>
                    <include name="ImagesAndButtons"></include>
                </methods>
            </class>

            <class name="WebsiteAssertionLogo">
                <methods>
                    <include name="LogoDisplay"></include>
                </methods>
            </class>
        </classes>

    </test>
</suite>